<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'resume/css/style.css' %}">
</head>
<body>
    <div class="container mb-5">
        <div class="jumbotron p-3">
        <h1 class="text-center">RESUME UPLOADER</h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p class="bg-info text-white">Fill out the form to generate your application.</p>
                <form action="" method="post" enctype="multipart/form-data" class="shadow p-5"> 
                    <!-- The enctype attribute specifies how the form-data should be encoded when submitting it to the server. -->
                    <!-- multipart/form-data - This value is necessary if the user will upload a file through the form -->
                    {% csrf_token %} 
                    <!-- csrf_token is used to avoid malicious attacks -->
                    {% for fm in form %}
                    <!-- for loop to show all fields with label and error -->
                    <div class="form-group mb-3">
                        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    </div>
                    {% endfor %}
                    <input type="submit" value="Submit" class="btn btn-outline-primary">
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p> <!--my-3: sets margin left and right on y axis-->
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
            <div class="col-md-4">
                <h4 class="text-center"><u>List of Candidates</u></h4>
                {% for candidate in candidates %}
                {{forloop.counter}}
                <a href="{% url 'candidate' candidate.id %}">{{candidate.name}}</a>
                <!-- the candidate inside block tag is the name of url mentioned in path in urls.py -->
                <div class="float-right">
                    {{candidate.jobtype}}
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>